body {
  background: url(/Asset/img/pageimggrd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /*页内标签跳转，滚动条丝滑滚动*/
}

#nav-bar {
  z-index: 9;
  position: fixed;
  display: block;
  width: 100%;
}

#nav-bar-content {
  height: 100%;
  white-space: nowrap;
  padding: 4px 0px;
  overflow-y: hidden;
}

#nav-bar-content > a {
  height: 100%;
  display: inline-flex;
  margin: 0 0.5rem;
  text-align: center;
  place-content: center;
  text-decoration: none;
  color: #49a1ffde;
}

#nav-bar-content a > h1 {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  font-size: 1.2rem;
  line-height: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0 auto;
}
/* #endregion */

/* #region 特定属性 */

#nav-bar-content::-webkit-scrollbar-track {
  background: transparent;
}

#nav-bar-content::-webkit-scrollbar-thumb {
  background: #6889bb87;
  border-radius: 8px;
}

#nav-bar-content::-webkit-scrollbar {
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 8px;
}
/* #endregion */

/* #region 适配 */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 1216px) {
  #nav-bar-content > a {
    color: #49a1ffde;
  }
}

@media only screen and (min-width: 1216px) {
}

/* #endregion*/
