* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#body {
  background-image: url("/Asset/img/PageBackgrd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

#body > div:first-child {
  background-image: linear-gradient(to bottom, #23579c99, #00000000);
  width: 100%;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
}

#body > div:first-child > div:first-child {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: url("/Asset/img/UserHead.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;

  overflow: hidden;
}

#body > div:first-child > h1 {
  color: #268e90;
  font-size: 6vmin;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 10px 10px #00000054;
}

#body > div:first-child > div:last-child {
  height: 50px;
  width: 60%;
  border-radius: 16px;
  background-color: #63d4d839;
  border: 3px solid #00000099;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px #00000054;
  outline: none;
  overflow: hidden;
}

#body > div:first-child > div:last-child > input {
  outline: none;
  float: left;
  border: 0;
  background-color: transparent;
  height: max-content;
  line-height: 150%;
  font-size: 3vmin;
  width: calc(100% - 70px);
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: #000000;
  font-family: sans-serif;
  margin-left: 20px;
  caret-color: #e36944;
  caret-shape: auto;
  overflow: hidden;
}

#body > div:first-child > div:last-child > button:last-child {
  outline: none;
  border: 0px;
  float: left;
  width: 50px;
  height: 50px;
  background-color: #00000000;
  background-image: url("/Asset/img/search.png");
  background-size: 60%;
  border-left: 3px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.6;
}

#body > div:first-child > div:last-child > input::placeholder {
  color: #2d2d2da8;
  font-size: 3vmin;
  font-family: sans-serif;
}

#body > div:first-child > div:last-child > button:last-child:active {
  background-size: 65%;
  background-image: url("/Asset/img/search_active.png");
}

#category {
  width: 80%;
  display: block;
  margin: 0 auto;
  overflow: auto;
}

#category-content {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
  grid-gap: 10px;
}

#category-content > a {
  height: 100%;
  width: 100%;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  padding: 5px;
}

#category-content a > div {
  background: gray;
  background-size: cover;
  background-position: center;
  height: 8em;
  border-radius: 8px;
  box-shadow: 2px 2px 3px #00000050;
}

#category-content a > div > h1 {
  backdrop-filter: blur(2px);
  font-size: 1.2rem;
  background-color: #63d4d839;
  color: #f4e0c5b9;
  text-shadow: 3px 3px 1px #178bc2c8, -2px -2px 2px #f4a28b;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 300px) {
  #searchBox {
    display: none;
  }
}
