body {
  background: var(--note-content-box-backgrd);
}

:root {
  --font-color: #3b4249;

  --form-border: 2px solid #b7d6ca80;
  --form-thead: #5b9bd5;
  --form-backgrd: #c8ffed20;

  --combobox-h1-backbrg: #eff4f0;
  --catalog-brg: #c7e7d4; /*不能为透明*/
  --note-content-box-backgrd: #ffffff;
  --note-border: var(--note-border-thickness) #276cc7 solid;

  --h-color: cornflowerblue;
  --code-block-backgrd: #c7edcc90;
  --code-color: #1f377f;
  --blockquote-color: #5a5a5a;
  --accent-backgrd: #ff770030;

  /* #region 通用 */
  --note-border-thickness: 2px;
  /* #endregion */
}

.theme-dark {
  --font-color: #b2bdcf;

  --form-border: 2px solid #afbc8c2e;
  --form-thead: #164a86;
  --form-backgrd: #ffffff08;

  --combobox-h1-backbrg: #0c16268c;
  --catalog-brg: #1e263c; /*不能为透明*/
  --note-content-box-backgrd: #282c34;
  --note-border: var(--note-border-thickness) #81818172 solid;

  --h-color: #68d7fc;
  --code-block-backgrd: #121e4250;
  --code-color: var(--font-color);
  --blockquote-color: #cbcbcb;
  --accent-backgrd: #9869e850;
}

/* #region 布局 */
#nav-bar-vacancy {
  position: relative;
  height: 3rem;
}

#nav-bar {
  background: var(--catalog-brg);
  height: 3rem;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  z-index: 9;
  outline: var(--note-border);
}

#catalog {
  height: 100vh;
  z-index: 10;
  position: fixed;
  width: 210px;
  background: var(--catalog-brg);
  transition: Left var(--transiton-fast-time), background var(--transiton-fast-time);
}

#note-content-box {
  z-index: 1;
  transition: margin-left var(--transiton-fast-time);
}

#catalog-display {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 50px;
  background-color: red;
  top: 20px;
  right: 20px;
}
/* #endregion */

/* #region 笔记内容 */
#content-title {
  height: max-content;
  background-image: linear-gradient(120deg, #84fab090 0%, #8fd3f480 100%);
  margin: 1rem auto 1rem auto;
  padding: 0.5rem 2rem 4px 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#content-title > h1 {
  display: block;
  font-size: 1.2rem;
  color: var(--font-color);
  height: 3rem;
  line-height: 3rem;
  border-bottom: 3px solid #87878730;
  text-align: left;
  font-weight: 600;
  text-indent: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content-title > span {
  display: block;
  font-size: 0.8rem;
  color: var(--font-color);
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: left;
  text-indent: 1rem;
  font-weight: 400;
}
#note-content {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#content {
  position: relative;
}

.content-end {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  width: 100%;
  background-color: var(--accent-backgrd);
  line-height: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

/* #endregion */

/* #region 笔记本列表 */
#combobox {
  width: 100%;
  z-index: 2;
  position: relative;
  height: 2rem;
  border-right: var(--note-border);
}

#combobox::before {
  font-style: normal;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  content: "\e89f";
  font-family: "iconfont";
  color: var(--font-color);
  border-radius: 8px;
}

#combobox > h1 {
  border-radius: 6px;
  display: block;
  position: relative;
  font-size: 0.8rem;
  text-indent: 0.5rem;
  margin-right: 2rem;
  margin-left: 4px;
  line-height: 200%;
  cursor: pointer;
  top: 50%;
  color: var(--font-color);
  transform: translate(0, -50%);
  background: var(--combobox-h1-backbrg);
  user-select: none;
}

#combobox > h1::before {
  position: relative;
  content: "📚 ";
}

.options {
  z-index: 2;
  position: absolute;
  width: 210px;
  height: auto;
  top: 35px;
  left: 10px;
  padding: 8px;
  border-radius: 4px;
  color: var(--font-color);
  visibility: hidden;
  opacity: 0;
  border: var(--note-border);
  box-shadow: 0px 0px 20px #00000022;
  cursor: pointer;
  user-select: none;
}

#combobox.active .options {
  opacity: 1;
  visibility: visible;
}

.options span {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;
  border-bottom: var(--note-border);
  margin-bottom: 0.5rem;
  text-align: center;
} /*笔记列表*/

.options span::before {
  position: relative;
  content: "📚 ";
}

.option {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;
  border-radius: 4px;
} /*笔记列表项*/

.option::before {
  position: relative;
  content: "📘";
}

.option-checked::before {
  position: relative;
  content: "📖";
}

/* #endregion */

/* #region  笔记列表*/
#note-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px 0px 0px 4px;
}

#note-list * {
  border-right: var(--note-border);
}

#note-list *:nth-child(1) {
  height: 0.4rem;
  width: 100%;
}

.note {
  display: block;
  height: 1.6rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--font-color);
  user-select: none;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  text-indent: 4px;
}

.note::before {
  position: relative;
  content: "📄 ";
}

#clicked_note {
  background: var(--note-content-box-backgrd);
  border: var(--note-border);
  border-right: 0;
  height: 1.6rem;
  line-height: calc(1.6rem - 2 * var(--note-border-thickness));
  text-indent: 4px;
} /*被点击的note样式*/

#clicked_note::before {
  position: relative;
  content: "📑 ";
}

#note-list *:last-child {
  height: 50vh;
  width: 100%;
  background: var(--catalog-brg);
}

/* #endregion */

/* #region 触发事件 */

#combobox:hover::before {
  color: #00a4ff;
}

.option:hover {
  background: var(--accent-backgrd);
}

.note:hover {
  background-color: var(--accent-backgrd);
}

/* #endregion */

/* #region  特定属性 */
#combobox > h1,
.options,
.note {
  font-weight: 600;
  font-family: 华文细黑, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", STHeiti, MingLiu;
}

#content tbody tr:nth-child(even),
.options,
#body > *:nth-child(2) {
  background: var(--catalog-brg);
  transition: background var(--transiton-fast-time);
}

#content pre,
#content tbody,
#content thead,
#content thead tr th,
body,
#clicked_note,
#note-content-box div:nth-child(1),
#combobox > h1 {
  transition: background var(--transiton-fast-time);
}

#catalog ::-webkit-scrollbar {
  display: block;
  width: 0px;
  height: 0px;
}

/* #endregion */

/* #region markdown style */
#content {
  margin: 0 auto;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: var(--font-color);
}

/* #region 表格 */
#content table {
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

#content td,
#content th {
  border: var(--form-border);
}

#content tbody tr:nth-child(odd) {
  background: transparent;
}

#content tbody tr:nth-child(even) {
  background-color: var(--form-backgrd);
}

#content tbody tr:hover {
  background-color: var(--accent-backgrd);
  transition: background-color 0s;
}

#content thead tr th {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 2rem;
  height: 2rem;
  padding: 0px 0.8rem 0px 0.8rem;
}

#content thead {
  background-image: linear-gradient(-20deg, #c892e240 0%, #9ebceabd 100%);
}

#content tbody tr td {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  height: 1.6rem;
  padding: 0px 0.5rem 0px 0.5rem;
}

/* #endregion */

/* #region code */
#content pre {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1rem;
  background: var(--code-block-backgrd);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

#content code {
  color: var(--code-color);
  font-size: 1rem;
  font-family: Consolas, "Courier New", monospace;
  text-align: left;
  overflow-wrap: normal;
  line-height: 1.2rem;
}

#content pre::-webkit-scrollbar {
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 8px;
}

#content pre::-webkit-scrollbar-thumb {
  background-color: #61616150;
  border-radius: 8px;
}
/* #endregion */

/* #region 标题 */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
  color: var(--h-color);
  font-weight: 600;
  line-height: 200%;
  font-size: 1.2rem;
  text-indent: 0.5rem;
  margin: 0.5rem;
  padding: 0.1rem 1rem 0.1rem 1rem;
  width: max-content;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#content h1 {
  font-size: 1.2rem;
  border-left: solid #6495ed 0.6rem;
  background-image: linear-gradient(120deg, #6495ed90 0%, #c2e9fb90 100%);
}

#content h2 {
  font-size: 1.1rem;
  border-left: solid #ff8b9d 0.5rem;
  background-image: linear-gradient(-225deg, #ffe29f90 0%, #ffa99faa 48%, #ff719a50 100%);
}
#content h3 {
  font-size: 1rem;
  border-left: solid #51e9cc 0.4rem;
  background-image: linear-gradient(-225deg, #20e2d790 0%, #f9fea580 100%);
}
#content h4 {
  font-size: 0.9rem;
  border-left: solid #d38fe5 0.3rem;
  background-image: linear-gradient(-225deg, #d9afd990 0%, #97d9e1aa 100%);
}
#content h5 {
  font-size: 0.8rem;
  border-left: solid #fab57890 0.2rem;
  background-image: linear-gradient(-225deg, #f6d36580 0%, #fda08530 100%);
}

/* #endregion */
#content > p {
  word-spacing: 0;
  text-align: left;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  border-radius: 0.5rem;
} /* 段落 */
#content a {
  font-size: 1rem;
  color: #6495ed;
  text-decoration: underline;
} /* 链接 */
#content kbd {
  background-color: #80808014;
  padding: 2px 4px;
  margin: 4px;
  border-radius: 4px;
  color: var(--font-color);
  font-size: 14px;
  border: 1px #858585ad solid;
} /*key board*/

/* #region 块 */
#content blockquote {
  width: 100%;
  max-width: 600px;
  height: auto;
  color: var(--blockquote-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #f9f9f9;
  border-left: 10px solid #db998134;
  margin: 0.5rem;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  overflow-x: auto;
} /*引文块*/

#content blockquote p {
  font-weight: 100;
  font-family: "Consolas", "Microsoft YaHei", 华文细黑, 微软雅黑, "MicrosoftJhengHei", STHeiti,
    MingLiu;
  text-decoration: none;
} /*引文*/

#content blockquote * {
  font-size: 12px !important;
}

#content blockquote p a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
} /*引文*/

#content blockquote::-webkit-scrollbar {
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 8px;
}
#content blockquote::-webkit-scrollbar-thumb {
  background-color: #61616150;
  border-radius: 8px;
}

/* #endregion */
#content img {
  width: 100%;
  max-width: 600px;
  border-radius: 0.5rem;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} /*img*/

/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 600px) {
  #note-content-box {
    height: 100vh;
    margin-left: 0px;
    width: 100%;
  }

  #catalog {
    left: -210px;
    height: 100vh;
  }

  #content pre,
  #content blockquote,
  #content img,
  #content table {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  #note-content-box {
    margin-left: 210px;
  }
  #catalog {
    left: 0px;
  }
}
/* #endregion */
