:root {
  --ele-gap: 0.5rem;
  --ele-radius: 0.5rem;


  --note-hue: rgb(150, 187, 181);
  --combobox-bg: #eeeee;

}



.theme-dark {}

body {
  position: relative;
  margin: 0 auto;
}

/* #region 布局 */
#nav-bar-vacancy {
  /* background-color: red; */
  width: 100%;
}

#nav-bar {
  width: calc(100% - var(--ele-gap) * 2);
  max-width: 1200px;
  position: fixed;
  display: block;

  top: 0;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, 0);

  border-radius: 0.5rem;
  background: linear-gradient(120deg, #2cd4c9aa, #739ae9aa, #43ffcaaa, #49dbffaa), white;
  background-size: 500%;
  animation: bgAnimation 10s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav-bar,
#nav-bar-vacancy {
  margin: var(--ele-gap) auto;
  height: 3rem;
}


#catalog {
  position: fixed;
  height: 80vh;
  z-index: 10;
  width: 210px;
  margin-left: calc((100% - 1200px) / 2);
  opacity: 1;
  left: 0;

  transition-property: left opacity;
  transition-duration: 0.4s;
}

/* #catalog::before {
  position: absolute;
  left: 0px;
  content: "";
  width: 0.5rem;
  height: 100%;
} */

#note-content-box {
  z-index: 1;
  position: absolute;
  right: calc((100% - 1200px) / 2);
  width: calc(1200px - 210px);
  padding: 0 0 0 var(--ele-gap);
  transition-property: width;
  transition-duration: 0.4s;
}

#note-content {
  position: relative;
  right: 0px;
  width: 100%;
}

#content {
  position: relative;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
}

/* #endregion */

/* #region 笔记内容 */
#content-title {
  height: max-content;
  background-image: linear-gradient(120deg, #84fab090 0%, #8fd3f480 100%);
  padding: 0.5rem 2rem 4px 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#content-title>h1 {
  display: block;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 3px solid #87878730;
  text-align: left;
  font-weight: 600;
  text-indent: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content-title>span {
  display: block;
  font-size: 0.8rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: left;
  text-indent: 1rem;
  font-weight: 400;
}

.content-end {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

/* #endregion */

/* #region 笔记本列表 */
#combobox {
  width: 100%;
  z-index: 2;
  position: relative;
  height: 2rem;
  border-radius: 0.5rem;
}

#combobox::before {
  font-style: normal;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  content: "\e89f";
  font-family: "iconfont";
  border-radius: 8px;
}

#combobox>h1 {
  border-radius: 6px;
  display: block;
  position: relative;
  font-size: 0.8rem;
  text-indent: 0.5rem;
  margin-right: 2rem;
  margin-left: 4px;
  line-height: 200%;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  user-select: none;
  background-color: var(--combobox-bg)
}

#combobox>h1::before {
  position: relative;
  content: "📚 ";
}

.options {
  z-index: 2;
  position: absolute;
  width: 210px;
  height: auto;
  top: 35px;
  left: 10px;
  padding: 8px;
  border-radius: 4px;

  visibility: hidden;
  opacity: 0;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  user-select: none;
}

#combobox.active .options {
  opacity: 1;
  visibility: visible;
}

.options span {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;

  margin-bottom: 0.5rem;
  text-align: center;
}

/*笔记列表*/

.options span::before {
  position: relative;
  content: "📚 ";
}

.option {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;
  border-radius: 4px;
}

/*笔记列表项*/

.option::before {
  position: relative;
  content: "📘";
}

.option-checked::before {
  position: relative;
  content: "📖";
}

/* #endregion */

/* #region  笔记列表*/

#note-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
  margin: var(--ele-gap) auto;
  border-top: var(--ele-gap)solid var(--note-hue);
  border-bottom: var(--ele-gap) solid var(--note-hue);
}


.note {
  display: block;
  height: 1.6rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  user-select: none;
  cursor: pointer;
  text-indent: var(--ele-gap);

  z-index: 3;


}

.note::before {
  position: relative;
  content: "📄 ";
}

#clicked_note {
  border-right: 0;
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  background-color: transparent;
  filter: blur(0px);
  text-indent: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s;
  z-index: 11;
}

#clicked_note::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;

  background: linear-gradient(120deg, #2cd4c9aa, #739ae9aa, #43ffcaaa, #49dbffaa), white;
  background-size: 500%;
  backdrop-filter: blur(1px);
  filter: blur(30px);
  animation: bgAnimation 10s linear infinite;

}

/*被点击的note样式*/

#clicked_note::before {
  position: relative;
  content: "📑 ";
}

#note-list *:last-child {
  height: 50vh;
  width: 100%;

}

#fix-tool {
  height: auto;
  width: auto;

  position: fixed;
  background-color: #6f8bbd80;
  padding: 0.2rem;
  bottom: 20%;
  right: calc((100% - 1200px) / 2);
  z-index: 11;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

  align-items: center;
  justify-content: center;
}

#to-current-note,
#catalog-display {
  margin: 0.2rem auto;
  position: relative;
  height: 45px;
  width: 45px;
  z-index: 11;
  border-radius: 8px;
  display: flex;
}

.fix-i {
  font-style: normal;
  letter-spacing: 0px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  width: 45px;
  vertical-align: middle;
  text-align: center;
}

.fix-i:hover {}

/* #endregion */

/* #region 触发事件 */

#combobox:hover::before {
  color: #00a4ff;
}

.option:hover {}

.note:hover {}

/* #endregion */

/* #region  特定属性 */
#combobox>h1,
.options,
.note {
  font-weight: 600;
  font-family: 华文细黑, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei",
    STHeiti, MingLiu;
}

/* 字体 */

#combobox,
#catalog::before,
#note-list *:last-child,
.content-end,
.options,
.note {
  background: var(--note-hue);
}

/* 主颜色 */

#catalog ::-webkit-scrollbar {
  display: block;
  width: 0px;
  height: 0px;
}

/* #endregion */

/* #region markdown style */
#content {
  margin: 0 auto;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* #region 表格 */
#content table {
  border-collapse: separate;
  border-radius: 1rem;
  border-spacing: 0;

  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

#content td,
#content th {
  height: 30px;
}

#content td:last-child,
#content th:last-child {
  border-right-color: transparent;
}

/* #content tbody tr:nth-child(odd) {
  background: transparent;
}

#content tbody tr:nth-child(even) {

} */

#content tbody tr:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#content thead tr th {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 2rem;
  height: 2rem;
  padding: 0px 0.8rem 0px 0.8rem;
}

#content thead {
  background-image: linear-gradient(-20deg, #c892e240 0%, #9ebceabd 100%);
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

#content tbody tr td {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  height: 1.6rem;
  padding: 0px 0.5rem 0px 0.5rem;
}

/* #endregion */

/* #region code */
#content pre {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1rem;
  background-color: #c8edcc;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #d8d0d0b2;
}

#content code {
  font-size: 1rem;
  font-family: Consolas, "Courier New", monospace;
  text-align: left;
  overflow-wrap: normal;
  line-height: 1.2rem;
}

#content pre::-webkit-scrollbar {
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 8px;
}

#content pre::-webkit-scrollbar-thumb {
  background-color: #61616150;
  border-radius: 8px;
}

/* #endregion */

/* #region 标题 */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
  font-weight: 600;
  line-height: 200%;
  font-size: 1.2rem;
  text-indent: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.1rem 1rem 0.1rem 1rem;
  width: max-content;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#content h1 {
  font-size: 1.2rem;
  border-left: solid #6495ed 0.6rem;
  background-image: linear-gradient(120deg, #6495ed90 0%, #c2e9fb90 100%);
}

#content h2 {
  font-size: 1.1rem;
  border-left: solid #ff8b9d 0.5rem;
  background-image: linear-gradient(-225deg,
      #ffe29f90 0%,
      #ffa99faa 48%,
      #ff719a50 100%);
}

#content h3 {
  font-size: 1rem;
  border-left: solid #51e9cc 0.4rem;
  background-image: linear-gradient(-225deg, #20e2d790 0%, #f9fea580 100%);
}

#content h4 {
  font-size: 0.9rem;
  border-left: solid #d38fe5 0.3rem;
  background-image: linear-gradient(-225deg, #d9afd990 0%, #97d9e1aa 100%);
}

#content h5 {
  font-size: 0.8rem;
  border-left: solid #fab57890 0.2rem;
  background-image: linear-gradient(-225deg, #f6d36580 0%, #fda08530 100%);
}

/* #endregion */
#content>p {
  word-spacing: 0;
  text-align: left;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* 段落 */
#content a {
  font-size: 1rem;
  color: #6495ed;
  text-decoration: underline;
}

/* 链接 */
#content kbd {
  background-color: #80808014;
  padding: 2px 4px;
  margin: 4px;
  border-radius: 4px;

  font-size: 14px;
  border: 1px #858585ad solid;
}

/*key board*/

/* #region 块 */
#content blockquote {
  max-width: 600px;
  height: auto;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  background: #f9f9f9;
  border-left: 10px solid #db998134;
  margin: 0.5rem 0px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  overflow-x: auto;
}

/*引文块*/

#content blockquote p {
  font-weight: 100;
  font-family: "Consolas", "Microsoft YaHei", 华文细黑, 微软雅黑,
    "MicrosoftJhengHei", STHeiti, MingLiu;
  text-decoration: none;
}

/*引文*/

#content blockquote * {
  font-size: 12px !important;
}

#content blockquote p a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

/*引文*/

#content blockquote::-webkit-scrollbar {
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 8px;
}

#content blockquote::-webkit-scrollbar-thumb {
  background-color: #61616150;
  border-radius: 8px;
}

/* #endregion */
#content img {
  width: 100%;
  max-width: 600px;
  border-radius: 0.5rem;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

/*img*/

/* #endregion */

/* #region  动画*/
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 1300px) {
  #note-content-box {
    width: calc(100% - var(--ele-gap) * 2);
    right: 0px;
    margin: 0 var(--ele-gap);
    padding: 0px;
  }

  #catalog {
    margin-left: var(--ele-gap);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    left: -210px;
    opacity: 0;
  }

  #fix-tool {
    right: var(--ele-gap);
  }
}


/* @media only screen and (max-width: 1200px) {} */

/* #endregion*/