body {
  height: 100vh;
  overflow: hidden;
  background: var(--note-content-backgrd);
}

:root {
  --form-border: 2px solid #00000050;
  --form-thead: #5b9bd5;

  --combobox-h1-backbrg: #ffffff;
  --catalog-brg: #ffffff; /*不能为透明*/
  --note-content-backgrd: #ffffff;
  --note-border: var(--note-border-thickness) #276cc7 solid;

  /* #region 通用 */
  --note-border-thickness: 2px;
  /* #endregion */
}

.theme-dark {
  --form-border: 2px solid #ffffff50;
  --form-thead: #164a86;

  --combobox-h1-backbrg: #0c16268c;
  --catalog-brg: #1b263a; /*不能为透明*/
  --note-content-backgrd: #282c34;
  --note-border: var(--note-border-thickness) #81818172 solid;
}

/* #region 布局 */

#nav-bar {
  position: relative;
  top: 0;
}

#body > *:nth-child(2) {
  position: relative;
  width: 100%;
  height: 1rem;
}

#catalog {
  z-index: 3;
  position: fixed;
  width: 210px;
  height: calc(100vh - 1rem - var(--nav-bar-content-height));
  background: var(--catalog-brg);
  transition: Left var(--transiton-fast-time), background var(--transiton-fast-time);
}

#note-content {
  z-index: 1;
  transition: margin-left var(--transiton-fast-time);
  border-top: var(--note-border);
  height: calc(100vh - 1rem - var(--nav-bar-content-height));
  overflow: hidden;
}

/* #endregion */

/* #region 笔记内容 */
#note-content > div:nth-child(1) {
  position: relative;
  top: 0;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 1rem - var(--nav-bar-content-height));
}

#note-content > div:nth-child(1)::-webkit-scrollbar {
  display: block;
  width: 8px;
}

#note-content > div:nth-child(1)::-webkit-scrollbar-thumb {
  background-color: #276cc760;
  border-radius: 4px;
}

#content-title {
  height: max-content;
  width: 90%;
  background-color: #88888815;
  margin: 1.5rem auto 1rem auto;
  padding: 0.5rem 2rem 4px 2rem;
  border-radius: 8px;
  overflow: hidden;
}

#content-title > h1 {
  display: block;
  font-size: 1.2rem;
  color: var(--foregrd);
  height: 3rem;
  line-height: 3rem;
  border-bottom: 3px solid #87878730;
  text-align: left;
  font-weight: 600;
  text-indent: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content-title > span {
  display: block;
  font-size: 0.8rem;
  color: var(--foregrd);
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: left;
  text-indent: 1rem;
  font-weight: 400;
}

#content {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

#note-content > div:nth-child(1) > a:last-child {
  text-decoration: none;
  color: var(--foregrd);
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  width: 100%;
  background-color: var(--backbrg-hover);
  line-height: 3rem;
  text-align: center;
}

/* #endregion */

/* #region 笔记本列表 */
#combobox {
  width: 100%;
  z-index: 2;
  position: relative;
  height: 2rem;
  border-right: var(--note-border);
}

#combobox::before {
  font-style: normal;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  content: "\e89f";
  font-family: "iconfont";
  color: var(--foregrd);
  border-radius: 8px;
}

#combobox > h1 {
  border-radius: 6px;
  display: block;
  position: relative;
  font-size: 0.8rem;
  text-indent: 0.5rem;
  margin-right: 2rem;
  margin-left: 4px;
  line-height: 200%;
  cursor: pointer;
  top: 50%;
  color: var(--foregrd);
  transform: translate(0, -50%);
  background: var(--combobox-h1-backbrg);
  user-select: none;
  box-shadow: inset 0px 0px 3px var(--foregrd-hover);
}

#combobox > h1::before {
  position: relative;
  content: "📚 ";
}

.options {
  z-index: 2;
  position: absolute;
  width: 210px;
  height: auto;
  top: 35px;
  left: 10px;
  padding: 8px;
  border-radius: 4px;
  color: var(--foregrd);
  visibility: hidden;
  opacity: 0;
  border: var(--note-border);
  box-shadow: 0px 0px 20px #00000022;
  cursor: pointer;
  user-select: none;
}

#combobox.active .options {
  opacity: 1;
  visibility: visible;
}

.options span {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;
  border-bottom: var(--note-border);
  margin-bottom: 0.5rem;
  text-align: center;
} /*笔记列表*/

.options span::before {
  position: relative;
  content: "📚 ";
}

.option {
  display: block;
  font-size: 0.8rem;
  line-height: 200%;
  text-indent: 0.5rem;
  border-radius: 4px;
} /*笔记列表项*/

.option::before {
  position: relative;
  content: "📘";
}

.option-checked::before {
  position: relative;
  content: "📖";
}

/* #endregion */

/* #region  笔记列表*/
#note-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px 0px 0px 4px;
}

#note-list * {
  border-right: var(--note-border);
}

#note-list *:nth-child(1) {
  height: 0.4rem;
  width: 100%;
}

.note {
  display: block;
  height: 1.6rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--foregrd);
  user-select: none;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
}

.note::before {
  position: relative;
  content: "📄 ";
}

#clicked_note {
  background: var(--note-content-backgrd);
  border: var(--note-border);
  border-right: 0;
  height: 1.6rem;
  line-height: calc(1.6rem - 2 * var(--note-border-thickness));
  text-indent: 4px;
} /*被点击的note样式*/

#clicked_note::before {
  position: relative;
  content: "📑 ";
}

#note-list *:last-child {
  height: 100%;
  width: 100%;
}

/* #endregion */

/* #region 触发事件 */

#combobox:hover::before {
  color: var(--hover);
}

.option:hover {
  background: var(--backbrg-hover);
}

.note:hover {
  background-color: var(--backbrg-hover);
}

/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 600px) {
  #note-content {
    height: calc(100vh - 1rem);
    margin-left: 0px;
  }

  #catalog {
    left: -210px;
  }

  #nav-bar {
    position: fixed;
  }

  #note-content > div:nth-child(1) {
    position: relative;
    top: 0;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 1rem);
  }

  #catalog {
    height: calc(100vh - 1rem);
  }
}

@media only screen and (min-width: 600px) {
  #note-content {
    margin-left: 210px;
  }
  #catalog {
    left: 0px;
  }
}
/* #endregion */

/* #region markdown style */
#content {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
  color: var(--foregrd);
}

/* #region 表格 */
#content table {
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0;
}

#content td,
#content th {
  border: var(--form-border);
}

#content tbody tr:nth-child(odd) {
  background: transparent;
}

#content tbody tr:nth-child(even) {
  background-color: #8080801a;
}

#content tbody tr:hover {
  background-color: var(--backbrg-hover);
  transition: background-color 0s;
}

#content thead tr th {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0px 0.5rem 0px 0.5rem;
  background-color: var(--form-thead);
}

#content tbody tr td {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  height: 2rem;
  padding: 0px 0.5rem 0px 0.5rem;
}

/* #endregion */
/* #region 标题 */
#content h1 {
  border-left: 1rem solid #ed515191;
  font-size: 1.8rem;
}
#content h2 {
  border-left: 2rem solid #ed975191;
  font-size: 1.6rem;
}
#content h3 {
  border-left: 3rem solid #e6ed6491;
  font-size: 1.4rem;
}
#content h4 {
  border-left: 4rem solid #2be23491;
  font-size: 1.2rem;
}
#content h5 {
  border-left: 5rem solid #0d83fa91;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
  padding: 0 20px;
  background: transparent;
  color: cornflowerblue;
  font-weight: bold;
  margin: 5px 0;
  line-height: 150%;
}

/* #endregion */
#content p {
  word-spacing: 0;
  text-align: left;
  word-wrap: break-word;
  padding: 0.4rem;
} /* 段落 */
#content a {
  font-size: 1rem;
  color: rgb(96, 127, 200);
} /* 链接 */
#content img {
  width: auto;
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
} /* 图片 */
#content kbd {
  background-color: #c0dde6;
  padding: 2px;
  margin: 4px;
  height: max-content;
  width: max-content;
  border-radius: 4px;
  color: rgb(46, 43, 43);
  font-size: 14px;
  border: 2px #8db5bcad solid;
}

/* #endregion */

/* #region  特定属性 */
#combobox > h1,
.options,
.note {
  font-weight: 600;
  font-family: 华文细黑, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", STHeiti, MingLiu;
}

.options,
#body > *:nth-child(2) {
  background: var(--catalog-brg);
  transition: background var(--transiton-fast-time);
}

#content tbody,
#content thead,
#content thead tr th,
body,
#clicked_note,
#note-content div:nth-child(1),
#combobox > h1 {
  transition: background var(--transiton-fast-time);
}

#catalog ::-webkit-scrollbar {
  display: block;
  width: 0px;
}

#nav-bar-content,
label[for="nav-side-display-btn"] {
  background: var(--catalog-brg);
}
/* #endregion */
