:root {
  --keyword-backgrd: #ed9658;
  --fix-icon-w-h: 3rem;
}

/* #region 布局 */

#outline,
#split-line {
  display: none;
}

#keyword-pad {
  position: absolute;
  width: 100%;
  height: calc(var(--fix-icon-w-h) + 240px);
  bottom: calc(var(--fix-icon-w-h) / 2);

  border-radius: 12px;
  background-color: var(--keyword-backgrd);
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.11);
  visibility: visible;
  opacity: 1;
}
/* #endregion */

#keyword-display {
  position: absolute;
  z-index: 12;
  right: 1rem;
  bottom: calc(160px - var(--fix-icon-w-h) * 0.5);

  width: var(--fix-icon-w-h);
  height: var(--fix-icon-w-h);
  border-radius: 12px;

  line-height: var(--fix-icon-w-h);
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;

  background-color: red;
}

#keyword-display.fix-i {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 0px;
  background-color: transparent;
}
