* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrd: #fffefebb;
  --backgrd-no-alpha: #ffffff;
  --backbrg-hover: #f6ba85;

  --foregrd: black;
  --foregrd-no-alpha: #85bfb6;
  --foregrd-hover: #de8b6a;

  --accent-color: #46b4ab8f;
  --accent-color-no-alpha: #85bfb6;
  --accent-color-no-alpha-havor: #f0b785;

  --fix-icon-w-h: 45px;

  --transiton-fast-time: 0.4s;
  --transiton-double-time: 0.8s;
}

.theme-dark {
  --backgrd: #2c3a53ee;
  --backgrd-no-alpha: #2c3a53;
  --backbrg-hover: #a361ffb5;

  --foregrd: #ffffff;
  --foregrd-no-alpha: #85bfb6;
  --foregrd-hover: #b56ade;

  --accent-color: #43b5ea8f;
  --accent-color-no-alpha: #71b8df;
  --accent-color-no-alpha-havor: #994fff;

  --fix-icon-w-h: 45px;

  --transiton-fast-time: 0.4s;
  --transiton-double-time: 0.8s;
}

/* #region 导航栏 */
label[for="nav-side-display-btn"] {
  height: 20px;
  width: 100%;
  background: var(--accent-color-no-alpha);
}

#nav-side-display-btn:checked + #nav-bar-content {
  max-height: 0px;
}

#nav-bar-content {
  background: var(--backgrd-no-alpha);
  width: 100%;
  max-height: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(6rem, 100%), 1fr));
  overflow: hidden;
  transition: background-color var(--transiton-double-time), max-height 0.6s;
}

#nav-bar-content > a {
  height: 2rem;
  width: 100%;
  position: relative;
  text-decoration: none;
  padding: 2px;
  margin: 0 auto;
}

#nav-bar-content > a:hover {
  background: var(--backbrg-hover);
  transition: background-color var(--transiton-double-time);
}

#nav-bar-content a > h1 {
  font-size: 1rem;
  color: var(--foregrd);
  line-height: 150%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
/* #endregion */

/* #region 悬浮按钮 */
.fix-lb {
  border-radius: var(--fix-icon-w-h);
  border: 3px var(--backgrd) solid;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 3px black;
  z-index: 9;
}

.fix-lb-theme-change {
  right: 20px;
  bottom: 80px;
}

.fix-lb-side-display {
  right: 20px;
  bottom: 20px;
}

.fix-i {
  color: var(--foregrd);
  font-style: normal;
  letter-spacing: 0px;
  background: var(--accent-color-no-alpha);
  height: var(--fix-icon-w-h);
  line-height: var(--fix-icon-w-h);
  width: var(--fix-icon-w-h);
  vertical-align: middle;
  text-align: center;
}

.fix-i:hover {
  background: var(--accent-color-no-alpha-havor);
  transition: background var(--transiton-fast-time);
}

.fix-lb {
  user-select: none;
}

.trigger-btn {
  display: none;
}

/* #endregion */
/* #region 适配 */
@media only screen and (max-width: 600px) {
  label[for="nav-side-display-btn"] {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  label[for="nav-side-display-btn"] {
    display: none;
  }
  #nav-side-display-btn:checked + #nav-bar-content {
    max-height: 900px;
  }
}
/* #endregion */
