:root {
  --border-radius: 4px;

  --main-bg: #f2f3ebbb;
  --web-col-1: #64b0b9;
  --web-col-0: #5c7fab;
  --fg-0: #8dcfcbcc;
}

body {
  background: url(/Asset/img/wallhaven-vgrx6m_1920x1080.png) no-repeat fixed
    center #ffffff;

  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* #region 布局 */
#outline {
  border-radius: var(--border-radius);
  overflow-y: auto;
  overflow-x: hidden;

  box-shadow: rgb(0 0 0 / 12%) 0px 3px 8px;
}

#main {
  border-radius: var(--border-radius);
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
}
/* #endregion */

/* #region outline-content */
.list-box {
  height: 100%;

  width: 100%;
}

.item-head {
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--fg-0);
  color: var(--web-col-0);
  font-family: var(--font-family-1);
}

.item-head-log {
  width: 30px;
}

.item-head-arrow {
  width: 30px;
  rotate: 90deg;
  transition: rotate 0.5s;
}

.item-head-log,
.item-head-arrow,
.item-head-name {
  line-height: 2rem;
  height: 2rem;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
}

.item-head-name {
  flex: 1;

  letter-spacing: 2px;
}

.item-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.5s;
}

.item-content > a {
  display: block;
  height: 2rem;
  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: var(--font-family-1);
  text-indent: 0.5rem;
  overflow: hidden;

  transition-property: background, text-indent;
  transition-duration: 0.5s;
}

.item-content a * {
  color: var(--web-col-0);
  padding: 0 10px 0px 10px;
}
/* #endregion */

/* #region outline-other */
#outline-head {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--fg-0);
  overflow: hidden;
  position: relative;
} /*名片*/

#outline-head > a {
  position: relative;
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  margin: 1rem auto;

  border: 3px solid;
  border-color: var(--web-col-1);
  background: center / cover no-repeat url(/Asset/img/userhead.webp);

  transition-property: height, width;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.62, -0.14, 0.62, 1.25);
} /*头像*/

#outline-head > h1 {
  position: relative;
  color: var(--web-col-0);
  font-size: 1.2rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0.8rem 0;
  font-family: var(--font-family-1);
} /*签名*/

#outline-footer {
  border-bottom-right-radius: var(--border-radius);
  min-height: 15rem;
  background: var(--fg-0);
}

/* #endregion */

/* #region  main-content */
#main-content {
  position: relative;
  display: block;
  width: 100%;
}

.category-box {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: var(--ele-gap);

  border-radius: var(--border-radius);
  background: var(--main-bg);
  box-shadow: rgb(0 0 0 / 12%) 0px 3px 8px;
}

.cate-name {
  color: #5eaebb;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  line-height: 1.2rem;
  width: 100%;

  margin: 0 auto 1rem auto;
  text-align: center;
  border-bottom: 4px solid var(--fg-0);
  font-family: var(--font-family-1);
}

.cate-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
  grid-gap: calc(2 * var(--ele-gap));
}

.cate-content > div {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;

  height: 100%;
  border-radius: var(--border-radius);
  background: var(--fg-0);

  transition-property: top, left, z-index, box-shadow, border-radius;
  transition-duration: 0.4s;
}

.cate-content > div > a {
  display: block;
  height: auto;
  margin: 0.5rem 1rem;
  border-radius: var(--border-radius);
  opacity: 1;
  overflow: hidden;

  box-shadow: #00000000 0px 0px 0px 0px;
  transition-property: border-radius, box-shadow, opacity;
  transition-duration: 0.5s;
}

.cate-content > div > a > img {
  display: block;
  font-size: 0.8rem;
  color: var(--web-col-1);
  font-family: var(--font-family-1);
  text-decoration: none;
  border: 0px;

  width: 100%;
  aspect-ratio: 32 / 9;
}

.cate-content > div > p {
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: var(--font-family-1);

  margin: 0.5rem;
  text-decoration: none;
  text-indent: 1.5rem;
  word-break: break-all;
  color: var(--web-col-0);
}

#main-footer {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;

  text-decoration: none;
  color: #5eaebb;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-family-1);

  border-radius: var(--border-radius);
  background-color: var(--main-bg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#main-header {
  position: relative;
  display: block;
  height: 0px;
  width: 95%;
  opacity: 0;
  border-radius: var(--border-radius);
  background: var(--main-bg);
}
/* #endregion */

/* #region header */

#header {
  box-shadow: rgb(0 0 0 / 12%) 0px 3px 8px;
}

.current_web > h1 {
  color: var(--web-col-0);
}

#fix-tool {
  position: relative;
  right: 0;
  display: flex;
  grid-column: 3/4;
  grid-row: 1/2;
  height: 100%;
  width: 6rem;
  margin: auto calc(var(--ele-gap) / 2) auto calc(var(--ele-gap));
  overflow: hidden;
}

#outline-display {
  position: relative;
  text-decoration: none;
  width: 4rem;
  height: 1rem;
  border-radius: calc(2 * var(--border-radius));
  margin: auto;
  background: var(--fg-0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px, #5c7fab 0px 3px 5px inset;
}

.outline-display-i {
  position: absolute;
  top: -50%;
  left: 100%;
  transform: translate(-50%, 0);
  display: block;
  font-style: normal;
  letter-spacing: 0px;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;

  background-color: var(--fg-0);
  box-shadow: #5c80ab6f 3px 5px 8px inset, #5c80ab34 -3px 6px 0px 4px inset,
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  border-radius: 5rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: left 0.8s;
}

#header-content > a.current_web:hover::before {
  background-color: var(--web-col-0);
}

/* #endregion */

/* #region 针对某一属性*/
#fix-tool *,
#outline *,
#header *,
#main * {
  user-select: none;
}

/* #endregion; */

/* #region  动画*/
#header-content > a:hover:not(.current_web) {
  background: var(--web-col-0);
  color: var(--fg-0);

  transition-property: color, background;
  transition-duration: 0.6s;
}

.item-head:hover {
  background: var(--web-col-0);
  color: var(--fg-0);
}

.item-content a:hover {
  background-color: var(--web-col-0);
  text-indent: 2rem;

  transition-property: background, text-indent;
  transition-duration: 0.6s;
}

.item-content > a:hover > span {
  color: var(--fg-0);

  transition-property: color;
  transition-duration: 0.6s;
}

.cate-content > div:hover {
  top: -12px;
  left: 6px;
  z-index: 5;
  border-radius: 6px;
  box-shadow: rgba(46, 78, 111, 0.475) 0px 20px 30px -10px,
    rgba(46, 78, 111, 0.2) 0px -10px 80px -10px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition-property: top, left, z-index, box-shadow, border-radius;
  transition-duration: 0.5s;
}

.cate-content > div > a:hover {
  border-radius: 32px;
  box-shadow: var(--web-col-1) 0px 0px 0px 2px,
    var(--web-col-1) 0px 4px 6px -1px;

  transition-property: border-radius, box-shadow;
  transition-duration: 0.5s;
}
/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 600px) {
  .outline-display-i {
    left: 0%;
  }
  /* #region outline 美化 */
  #outline {
    background: #efdfc0;
    padding: var(--ele-gap);
    box-sizing: content-box;
    max-height: calc(100% - var(--header-height) - var(--ele-gap) * 5);
  }

  .item-head {
    border-radius: var(--border-radius);
    margin-bottom: var(--ele-gap);
  }

  .list-box:first-child .list-item-box .item-head {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  #outline-footer {
    border-radius: var(--border-radius);
  }
}
/* #endregion */

/* #endregion */
