:root {
  /* #region 通用 */

  --font-family: "Lantinghei SC", "Open Sans", "Lucida Grande", Helvetica,
    "PingFang SC", STheiti, Verdana, "microsoft yahei", "simsun", Geneva,
    sans-serif;

  /* #endregion */
  --content-bg: white;
  --border-radius: 8px;
  --bg: #97d5d0;
  --side-color-1: #3e767e;
  --side-color-2: #489898;
}

/* #region 布局 */
body {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#nav-bar {
  position: relative;
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;

  height: 3rem;
  background: var(--content-bg);
}

#side-vacancy {
  position: relative;
  display: block;

  grid-column: 1/2;
  grid-row: 1/3;
  width: 210px;
}

#side {
  position: fixed;
  display: block;

  overflow-y: auto;
  overflow-x: hidden;
  width: 210px;
  height: 100vh;
  grid-column: 1/2;
  grid-row: 1/3;
  background: var(--content-bg);

  transition-property: width;
  transition-duration: 0.5s;
}

#side-vacancy,
#side {
  transition-property: width;
  transition-duration: 0.5s;
}

#main {
  position: relative;
  display: block;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10%;

  grid-column: 2/3;
  grid-row: 2/3;
  z-index: -1;
}

/* #endregion */

/* #region side-content */
#side-content {
  margin: 5px 5px 0px 0px;
}

.list-box {
  height: 100%;

  width: 100%;
}

.list-item-box {
}

.item-hand {
  height: 36px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--bg);
}

.item-hand * {
  flex: none;
}

.item-hand-log {
  width: 30px;
}

.item-hand-arrow {
  width: 30px;
  rotate: 90deg;
}

.item-hand-name {
  flex: 1;
}

.item-hand-log,
.item-hand-arrow,
.item-hand-name {
  line-height: 2rem;
  height: 2rem;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
  color: var(--side-color-1);
}

.item-content {
  display: flex;
  flex-wrap: red;
  flex-direction: column;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.5s;
}

.item-content > a {
  display: block;
  height: 2rem;
  width: 100%;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 0 0 0 0.5rem;
}

.item-content a * {
  color: var(--side-color-2);
  padding: 0 10px 0px 10px;
}
/* #endregion */

/* #region side-other */
#side-hand {
  border-radius: 0 8px 0px 0;
  margin: 5px 5px 0 0;
  background: var(--bg);
  overflow: hidden;
  position: relative;
} /*名片*/

#side-hand > a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 0.8rem;

  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;

  border: 3px solid var(--side-color-1);
  background: center / cover no-repeat url("/Asset/img/userhead.png");
} /*头像*/

#side-hand > h1 {
  position: relative;
  color: var(--side-color-1);
  font-size: 1rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0.8rem 0;
} /*签名*/

#side > div:last-child {
  margin: 5px 5px 0px 0px;
  border-radius: 0px 0px 8px 0px;
  min-height: 100px;
  background: var(--bg);
}

/* #endregion */

/* #region main-content */
#main-head {
  position: relative;
  height: 3rem;
  margin: 1rem auto;
  border-radius: var(--border-radius);
  background: var(--content-bg);
}

#main-content {
  position: relative;
  display: block;
  width: 100%;
}

.category-box {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;

  border-radius: var(--border-radius);
  background: var(--content-bg);
}

.cate-name {
  color: #5eaebb;
  font-size: var(--cate-name-font-size);
  font-weight: var(--cate-name-font-weight);
  line-height: 200%;
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 5px solid #95bdde80;
}

.cate-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(9rem, 100%), 1fr));
  grid-gap: var(--border-radius);
}

.cate-content > div {
  position: relative;
  height: 100%;
  border-radius: var(--border-radius);
  background: var(--bg);
  overflow: hidden;
}

.cate-content > div > a {
  display: block;
  height: 2rem;
  margin: 8px;

  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cate-content > div > p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;

  margin: 8px;
  text-indent: 1.5rem;
  word-break: break-all;
  color: var(--content-bg);
}

#footer {
  position: relative;
  height: 3rem;
  margin: 1rem auto;
  border-radius: var(--border-radius);
  background: var(--content-bg);
}

/* #endregion */

/* #region fix-tool*/
#fix-tool {
  position: fixed;
  right: 0;
  bottom: 20%;
  height: auto;
  width: auto;
  border-radius: var(--border-radius);

  z-index: 9;
}

#side-display {
  position: relative;

  display: flex;
  text-decoration: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--border-radius);
  margin: var(--border-radius);
  background: var(--bg);
}

.fix-i {
  font-style: normal;
  letter-spacing: 0px;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}

/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 600px) {
  #side-vacancy,
  #side {
    width: 0;
  }

  #main {
    padding: 0 var(--border-radius);
  }

  /* #main-content {
    position: relative;
    display: block;
    width: 100%;
    left: 6px;
  } */
}

/* #endregion */

/* #region 针对某一属性*/
#fix-tool *,
#nav-bar *,
#side *,
.cate-content > div > a {
  user-select: none;
  cursor: pointer;
}

.list-box > label,
#footer > div,
.cate-content > div,
#side > div:last-child > div,
#side > div:first-child,
.category-box {
  transition: background var(--transiton-double-time);
}

#main-head,
#footer,
#main-content {
  left: 6px;
} /*scrollBar占位置 为了保持内容居中*/

.trigger-btn {
  display: none;
}

::-webkit-scrollbar {
  display: block;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
  border-radius: 4px;
}

#side::-webkit-scrollbar {
  width: 0px;
}

/* #endregion; */
