:root {
  --font-family-1: 华文楷体, 华文细黑, 华文行楷, 微软雅黑, 黑体,
    Hiragino Sans GB, STXinwei, Consolas, STKaiti, STHeiti, STXingkai,
    Microsoft YaHei, Helvetica, Hiragino Sans GB, STXinwei, Consolas, STKaiti,
    STHeiti, STXingkai, Arial, sans-serif;
  --font-family-2: 华文楷体, 华文细黑, 华文行楷, 微软雅黑, 黑体,
    Hiragino Sans GB, STXinwei, Consolas, STKaiti, STHeiti, STXingkai,
    Microsoft YaHei, Helvetica, Hiragino Sans GB, STXinwei, Consolas, STKaiti,
    STHeiti, STXingkai, Arial, sans-serif;
  --content-bg: #f0f0f0c4;
  --content-fg: #a3d2cf;
  --ele-gap: 8px;
  --font-color-1: #5c7fab;
  --side-hover-color-1: #a6a6edcc;
}

/* #region 布局 */
body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#nav-bar {
  position: relative;
  display: grid;
  height: 3rem;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: auto 1fr auto;
  column-gap: 0px;
  row-gap: 0px;

  z-index: 2;
  background: var(--content-bg);
}

/* #nav-bar-ico {
  width: 3rem;
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(/Asset/img/icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} */

#side-vacancy {
  position: relative;
  display: block;
  width: 210px;
}

#side {
  position: fixed;
  display: block;

  overflow-y: auto;
  overflow-x: hidden;
  width: 210px;
  height: 100vh;

  background: var(--content-bg);
  opacity: 1;
  z-index: 9;
}

#side-vacancy,
#side {
  grid-column: 1/2;
  grid-row: 1/3;
  transition-property: width, opacity;
  transition-duration: 0.6s;
}

#main {
  position: relative;
  display: block;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-padding-top: 2rem;
  padding: 0 5%;

  grid-column: 2/3;
  grid-row: 2/3;
  z-index: -1;
}

/* #endregion */

/* #region side-content */
#side-content {
  margin: 5px 5px 0px 0px;
}

.list-box {
  height: 100%;

  width: 100%;
}

.item-hand {
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--content-fg);
  font-family: var(--font-family-1);
}

.item-hand-log {
  width: 30px;
}

.item-hand-arrow {
  width: 30px;
  rotate: 90deg;
  transition: rotate 0.5s;
}

.item-hand-name {
  flex: 1;
  transition-property: font-size, letter-spacing;
  transition-duration: 0.5s;
}

.item-hand-log,
.item-hand-arrow,
.item-hand-name {
  line-height: 2rem;
  height: 2rem;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
  color: var(--font-color-1);
}

.item-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.5s;
}

.item-content > a {
  display: block;
  height: 2rem;
  width: 100%;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: var(--font-family-1);
  padding: 0 0 0 0.5rem;

  transition-property: background, text-indent;
  transition-duration: 0.5s;
}

.item-content a * {
  color: var(--font-color-1);
  padding: 0 10px 0px 10px;
}
/* #endregion */

/* #region side-other */
#side-hand {
  border-radius: 0 8px 0px 0;
  margin: 5px 5px 0 0;
  background: var(--content-fg);
  overflow: hidden;
  position: relative;
} /*名片*/

#side-hand > a {
  position: relative;
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  margin: 1rem auto;

  border: 3px solid;
  border-color: var(--font-color-1);
  background: center / cover no-repeat url("/Asset/img/userhead.png");

  transition-property: height, width, background;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.62, -0.14, 0.62, 1.25);
} /*头像*/

#side-hand > h1 {
  position: relative;
  color: var(--font-color-1);
  font-size: 1.2rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0.8rem 0;
  font-family: var(--font-family-1);
} /*签名*/

#side > div:last-child {
  margin: 5px 5px 0px 0px;
  border-radius: 0px 0px 8px 0px;
  min-height: 100px;
  background: var(--content-fg);
}

/* #endregion */

/* #region main-content */
/* #main-head {
  position: relative;
  height: 3rem;
  margin: 1rem auto;
  border-radius: var(--border-radius);
  background: red;
} */

#main-content {
  position: relative;
  display: block;
  width: 100%;
}

.category-box {
  width: 95%;
  margin: 1rem auto;
  padding: 1rem 1rem 1rem 1rem;

  border-radius: var(--ele-gap);
  background: var(--content-bg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cate-name {
  color: #5eaebb;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  line-height: 1.2rem;
  width: 100%;

  margin: 0 auto 1rem auto;
  text-align: center;
  border-bottom: 4px solid #88cbce;
  font-family: var(--font-family-1);
}

.cate-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
  grid-gap: var(--ele-gap);
}

.cate-content > div {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;

  height: 100%;
  border-radius: var(--ele-gap);
  background: var(--content-fg);
  overflow: hidden;
  box-shadow: #00000000 0px 0px 0px 0px;

  transition-property: top, left, z-index, box-shadow, border-radius;
  transition-duration: 0.4s;
}

.cate-content > div > a {
  display: block;
  height: 2rem;
  margin: 0.5rem 1rem;

  border-radius: var(--ele-gap);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: #00000000 0px 0px 0px 0px;
  transition-property: border-radius, box-shadow;
  transition-duration: 0.5s;
}

.cate-content > div > p {
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: var(--font-family-2);

  margin: 0.5rem;
  text-decoration: none;
  text-indent: 1.5rem;
  word-break: break-all;
  color: var(--font-color-1);
}

#footer {
  position: relative;
  height: 3rem;
  margin: 1rem auto;
  border-radius: var(--ele-gap);
  background: var(--content-bg);
}

/* #endregion */

/* #region nav-bar */
#nav-bar-content {
  position: relative;
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
}

#nav-bar-content > a {
  font-family: var(--font-family-1);
  color: #5eaebb;
}

#fix-tool {
  position: relative;
  display: flex;
  grid-column: 3/4;
  grid-row: 1/2;
  height: 100%;
  width: 8rem;
  padding: 0 0 0 1rem;
  overflow: hidden;
}

#side-display {
  position: relative;
  text-decoration: none;
  width: 3rem;
  height: 1rem;
  border-radius: 1rem;
  margin: auto;

  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px, #5c7fab 0px 3px 5px inset;
}

.side-display-i {
  position: absolute;
  top: -50%;
  right: 0%;
  transform: translate(50%, 0);
  display: block;
  font-style: normal;
  letter-spacing: 0px;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  box-shadow: #5c80ab6f 3px 5px 8px inset, #5c80ab34 -3px 6px 0px 4px inset,
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  border-radius: 5rem;
  backdrop-filter: blur(3px);
  transition: right 0.8s;
}

.current_web {
  background: var(--content-fg);
}

.current_web > h1 {
  color: var(--font-color-1);
}

/* #endregion */

/* #region 适配 */
/* @media only screen and (max-width: 600px) {
} */

/* #endregion */

/* #region 针对某一属性*/
#fix-tool *,
#nav-bar *,
#side *,
#main * {
  user-select: none;
  cursor: pointer;
}

#footer,
#main-content {
  left: 6px;
} /*scrollBar占位置 为了保持内容居中*/

::-webkit-scrollbar {
  display: block;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--content-fg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: red; */
  border-radius: 4px;
}

#side::-webkit-scrollbar {
  width: 0px;
}

/* #endregion; */

/* #region  动画*/
#side-hand > a:hover {
  height: 6rem;
  width: 6rem;
  background: center / cover no-repeat url("/Asset/img/userhead.png"),
    var(--font-color-1);

  transition-property: height, width, background;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.item-hand-name:hover {
  letter-spacing: 5px;
  font-size: 1.2rem;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;

  transition-property: font-size, letter-spacing;
  transition-duration: 0.4s;
}

.item-content a:hover {
  background: var(--side-hover-color-1);
  text-indent: 1.5rem;

  transition-property: background, text-indent;
  transition-duration: 0.5s;
}

.cate-content > div:hover {
  top: -16px;
  left: 8px;
  z-index: 5;
  border-radius: 4px;
  box-shadow: rgb(46, 78, 111) 0px 20px 30px -10px,
    rgba(46, 78, 111, 0.2) 0px -10px 80px -10px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition-property: top, left, z-index, box-shadow, border-radius;
  transition-duration: 0.5s;
}

.cate-content > div > a:hover {
  border-radius: 32px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  transition-property: border-radius, box-shadow;
  transition-duration: 0.5s;
}
/* #endregion */
