:root {
  --shelf-line-height: 30px;
  --shelf-font-size: 1rem;
  --shelf-font-weight: 600;
  --shelf-font-family: "Lantinghei SC", "Open Sans", "Lucida Grande", Helvetica, "PingFang SC",
    STheiti, Verdana, "microsoft yahei", "simsun", Geneva, sans-serif;

  --item-height: 30px;
  --item-font-family: "Lantinghei SC", "Open Sans", "Lucida Grande", Helvetica, "PingFang SC",
    STheiti, Verdana, "microsoft yahei", "simsun", Geneva, sans-serif;
  --item-font-size: 0.8rem;
  --item-line-height: 30px;
  --item-font-weight: 600;

  --cate-name-font-size: 1rem;
  --cate-name-font-weight: 600;

  --cate-caontent-intro-font-size: 0.8rem;
  --cate-caontent-intro-font-weight: 500;
  --cate-caontent-intro-line-height: 1rem;

  --shelf-font-color: #3e767e;
  --item-font-color: #489898;
  --cate-name-font-color: #5eaebb;
}

.theme-dark {
  --shelf-font-color: #ffffff;
  --item-font-color: #ffffff;
  --cate-name-font-color: #ffffff;
}

#body {
  box-sizing: border-box;
  background: url("/Asset/img/pageimggrd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

::-webkit-scrollbar {
  display: block;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--backgrd);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--backbrg-hover);
  border-radius: 4px;
}

#side-display-btn + label {
  display: none;
}

/* #region #body > 布局 */
#content-body {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#side {
  width: 210px;
  position: fixed;
  height: 100vh;
  grid-column: 1/2;
  grid-row: 1/3;
  /* 字间距
  letter-spacing: 1px; */
  transition: background-color var(--transiton-double-time), width var(--transiton-fast-time);
  overflow: hidden;
  overflow-y: visible;
  z-index: 5;
  box-shadow: var(--box-black-shadow);
  background-color: var(--backgrd);
}

#vacancy {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 210px;
  transition: width var(--transiton-fast-time);
}

#nav-bar {
  min-height: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}

#main {
  display: block;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: 0;
}

/* #endregion */

/* #region side-content */
.side-content {
  margin: 5px 5px 0px 0px;
}

.list-box {
  height: 100%;
  width: 100%;
}

.list-box > label {
  height: 36px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--accent-color);
}

.list-box > label > i {
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  letter-spacing: 0px;
  flex: none;
}

.list-box > label > i:first-child {
  width: 30px;
}

.list-box > label > i:last-child {
  width: 30px;
  rotate: 90deg;
  transition: rotate var(--transiton-fast-time);
}

.list-box > label > span {
  flex: 1;
}

.list-box > label > i:first-child,
.list-box > label > i:last-child,
.list-box > label > span {
  text-align: center;
  vertical-align: middle;
  line-height: var(--shelf-line-height);
  font-size: var(--shelf-font-size);
  font-weight: var(--shelf-font-weight);
  color: var(--shelf-font-color);
  font-family: var(--shelf-font-family);
}

.item-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  transition: height var(--transiton-fast-time);
}

.item-content > a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.item-content > a > div {
  padding: 0 10px 0px 10px;
  position: relative;
  display: flex;
  width: 100%;
  height: var(--item-height);
  font-family: var(--item-font-family);
  line-height: var(--item-line-height);
  color: var(--item-font-color);
  font-weight: var(--item-font-weight);
  font-size: var(--item-font-size);
}

.item-content > a > div > i:first-child {
  font-style: normal;
  flex: none;
}

.item-content > a > div > span:last-child {
  margin-left: 10px;
  flex: 1;
}

/* #endregion */

/* #region side-head */
#side > div:first-child {
  border-radius: 0 8px 8px 0;
  margin: 5px 5px 0 0;
  background: var(--accent-color);
  overflow: hidden;
  position: relative;
}

#side > div:first-child > a {
  display: block;
  border: 3px solid var(--shelf-font-color);
  height: 60px;
  width: 60px;
  background: center / cover no-repeat url("/Asset/img/userhead.png");
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  overflow: hidden;
  box-shadow: var(--box-black-shadow);
}
#side > div:first-child > a:hover {
  border-color: var(--foregrd-hover);
}

#side > div:first-child > h1 {
  color: var(--shelf-font-color);
  font-size: 16px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: var(--box-black-shadow);
}

#side > div:last-child {
  margin: 5px 5px 5px 0px;
  border-radius: 0px 8px 8px 0px;
  overflow: hidden;
}

#side > div:last-child > div {
  border-radius: 0px 8px 8px 0px;
  min-height: 100px;
  background: var(--accent-color);
}

/* #endregion */

/* #region main */
#main-content {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: transparent;
  overflow: hidden;
  margin-top: 65px;
  position: relative;
  left: 6px;
}

.category-box {
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: var(--backgrd);
  box-shadow: var(--box-black-shadow);
}

.cate-name {
  color: var(--cate-name-font-color);
  font-size: var(--cate-name-font-size);
  font-weight: var(--cate-name-font-weight);
  line-height: 200%;
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 5px solid #95bdde80;
}

.cate-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(9rem, 100%), 1fr));
  grid-gap: 10px;
}

.cate-content > div {
  height: 100%;
  position: relative;
  padding: 5px;
  border-radius: 8px;
  background: var(--accent-color);
  box-shadow: var(--box-black-shadow);
  overflow: hidden;
}

.cate-content > div > a:nth-child(1) {
  display: block;
  height: 2em;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
  box-shadow: var(--box-black-shadow);
}

.cate-content > div > p:nth-child(2) {
  font-size: var(--cate-caontent-intro-font-size);
  font-weight: var(--cate-caontent-intro-font-weight);
  line-height: var(--cate-caontent-intro-line-height);
  text-align: left;
  margin-top: 10px;
  text-indent: 1rem;
  word-break: break-all;
  color: var(--foregrd);
}

#footer {
  width: 90%;
  position: relative;
  left: 6px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--box-black-shadow);
  margin-bottom: 20px;
}

#footer > div {
  width: 100%;
  background: var(--backgrd);
  height: 45px;
}
/* #endregion */

/* #region 触发器 */
/* A ~ B : 代表A元素之后所有的B元素使用以下CSS */
/* A:checked : 代表A元素当前状态为checked */
#side-display-btn:checked ~ #side {
  width: 0px;
}

#side-display-btn:checked ~ #vacancy {
  width: 0px;
}

#side-display-btn:checked + label {
  background-color: #ff000000;
  display: none;
}

.trigger-btn:checked ~ .item-content {
  height: 0px !important;
}

.trigger-btn:checked + label > i:last-child {
  rotate: 180deg;
}

.item-content > a > div:hover {
  background: var(--backbrg-hover);
}

#side > div:first-child > h1:hover,
.list-box > label > span:hover,
.list-box > label > i:hover {
  color: var(--foregrd-hover);
}

/* #endregion */

/* #region 适配 */
@media only screen and (max-width: 600px) {
  #side {
    width: 210px;
  }

  #main {
    overflow-y: auto;
  }

  #vacancy {
    display: none;
  }

  ::-webkit-scrollbar {
    display: block;
    width: 0px;
  }

  #main-content {
    position: relative;
    left: 0px;
  }

  #side-display-btn + label {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: #202329a9;
  }
}

/* #endregion */

/* #region 针对某一属性*/
#side > div:first-child > h1,
.list-box > label > i,
.item-content,
.list-item {
  user-select: none;
}

#side::-webkit-scrollbar {
  width: 0px;
}

.list-box > label,
#footer > div,
.cate-content > div,
#side > div:last-child > div,
#side > div:first-child,
.category-box,
#side ::-webkit-scrollbar-thumb {
  transition: background var(--transiton-double-time);
}

#content-body,
body {
  height: 100vh;
  overflow: hidden;
}

/* #endregion */
