* {
  margin: 0px;
  padding: 0px;
}

#body {
  margin: 0px;
  padding: 0px;
  background-image: url(./img/PageBackgrd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

#body>div:first-child {
  background-image: linear-gradient(to bottom, #23579c99, #00000000);
  width: 100%;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
}

#body>div:first-child>div:first-child {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-image: url(./img/UserHead.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  box-shadow: 0px 10px 10px #00000054;
}

#body>div:first-child>h1 {
  color: #268e90;
  font-size: 45px;
  position: relative;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0px 10px 10px #00000054;
}

#body>div:first-child>div:last-child {
  height: 50px;
  width: 60%;
  border-radius: 16px;
  background-color: #63d4d839;
  border: 3px solid #00000099;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 10px #00000054;
  outline: none;
}

#body>div:first-child>div:last-child>input {
  outline: none;
  float: left;
  border: 0;
  background-color: transparent;
  height: max-content;
  font-size: 24px;
  width: calc(100% - 70px);
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  color: #000000;
  font-family: sans-serif;
  margin-left: 20px;
  caret-color: #e36944;
  caret-shape: auto;
}

#body>div:first-child>div:last-child>button:last-child {
  outline: none;
  border: 0px;
  float: left;
  width: 50px;
  height: 50px;
  background-color: #00000000;
  background-image: url("./img/search.png");
  background-size: 60%;
  border-left: 3px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.6;
}

#body>div:first-child>div:last-child>input::placeholder {
  color: #00000099;
  font-size: 24px;
  font-family: sans-serif;
}

#body>div:first-child>div:last-child>button:last-child:active {
  background-size: 65%;
  background-image: url("./img/search_active.png");
}

#category {
  background-color: #00000000;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and ((max-aspect-ratio: 1 / 1)) {
  #category>div {
    width: calc(100%/2);
    height: 280px;
    background-color: #ff000000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  #category>div>div {
    width: 90%;
    height: 90%;
    background-image: url("./img/loading.gif");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    margin: 0px auto;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media screen and (max-aspect-ratio: 16 / 9) and (min-aspect-ratio: 1 / 1) {
  #category>div {
    width: calc(100%/3);
    height: 320px;
    background-color: #ff000000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  #category>div>div {
    width: 92%;
    height: 92%;
    background-image: url("./img/loading.gif");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    margin: 0px auto;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media screen and (min-aspect-ratio: 16 / 9) {
  #category>div {
    width: calc(100%/4);
    height: 280px;
    background-color: #ff000000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  #category>div>div {
    width: 90%;
    height: 90%;
    background-image: url("./img/loading.gif");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    margin: 0px auto;
    top: 50%;
    transform: translate(0, -50%);
  }
}