@font-face {
  font-family: "iconfont"; /* Project id 3888212 */
  src: url('iconfont.woff2?t=1686441468393') format('woff2'),
       url('iconfont.woff?t=1686441468393') format('woff'),
       url('iconfont.ttf?t=1686441468393') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.externallinksquare:before {
  content: "\e6d8";
}

.down_arrow:before {
  content: "\e89f";
}

.up-circle:before {
  content: "\e785";
}

